/.vscode
/Area.java
/ArrayIndex.java
/Bags.java
/Count.java
/Equalize.java
/Fact.java
/File.java
/Flames.java
/Good.java
/Increment.java
/Int.java
/Interview.java
/LinkedList
/Main.java
/Miss.java
/Missing.java
/NextSimilar.java
/Number.java
/Palindrome.java
/Pattern.java
/Rotation.java
/Round.java
/Search.java
/Solution.java
/Sqrt.java
/SquareFreeNumber.java
/StringList.java
/StringMatrix.java
/Strings.java
/StringSplit.java
/Subarray.java
/SubString.java
/SumZero.java
/Takeuforward
/Test.java
/Test1.java
/Vowels.java
/VowelsReverse.java